@model Student;
@{
    ViewData["Title"] = "About";
}

<h1 class="text-center mt-3 mb-3" >About me.</h1>

<hr />

<div class="container mt-3" style="border:3px solid black;">
    <div class="text-center pt-3 pb-3 mx-0 bg-black text-white" style="border:1px solid black;">
        <h3><strong>Created by : </strong>pon</h3>
    </div>
    <div class="text-start mt-3 ">
        <p>Date : 16/1/2023</p>
        <ul>
            <li><p>For test ASP.net core</p></li>
            <li><p>This is my first ASP.net core Web</p></li>
            <li><p>For list score of computer subject.</p></li>
            <li><p>with Add Edit Del Function</p></li>
            <li><p>Data base with SQL server</p></li>
        </ul>
        <h5>Let's do it!!!'</h5>
        <h6>just do it my best :)</h6>
    </div>
</div>
<hr />

